build/
*.o
*.d
*.elf
*.bin
*.hex
*.map
*.lst
*.lss

*.su
*.i
*.s
!cmsis/**/*.s

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
*.code-workspace

.idea/
cmake-build-*/

.project
.cproject
.settings/
Debug/
Release/

*.uvprojx
*.uvoptx
*.uvguix.*
*.scvd
Objects/
Listings/
RTE/

*.eww
*.ewp
*.ewd
*.ewt
*.dep
EWARM/

.cache/
compile_commands.json

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile.cmake

*.jlink
*.cfg
!openocd.cfg
*.log

.DS_Store
.AppleDouble
.LSOverride
._*

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

*~
.nfs*

*.swp
*.swo
*.swn
*~
\#*\#
.#*

__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

*.orig
*.bak
*.tmp
*.patch
tags
TAGS
GPATH
GRTAGS
GTAGS
